/* definir cor da célula do grid e o tamanho */
.mdl-cell{
	background-color: #f44336;
	min-height: 240px;
}

.mdl-grid{
	
}

.backgroud-claro{
	background-color: #fdd4d1;
	min-height: 80px;
	max-height: 270px;
}

/*  media para criar uma div para deixar o footer la embaixo */
@media (min-width: 840px) 
{
  .nula 
   {
    
   }
 }

/* ajustes dos badges q estão ruins */
 .badge_mod.mdl-badge[data-badge]:after{
 	top: 8px;
    right: 2px;
 }

 /* mudando cor do material icon do header */
 .headericon{
 	color: #fdd4d1;
 	text-decoration: none;
 }

 /*tamanho das fontes*/
 .md-18{font-size: 18px!important;}
 .md-24{font-size: 24px!important;}
 .md-36{font-size: 36px!important;}
 .md-48{font-size: 48px!important;}
 /*cor das fontes*/
 .laranja{color: #fb8c00}
 .verde{color: #a4c639}

 /* propriedades do card */
 .cell_card{
 	min-height: 380px;
 }

 .backgroud-claro_card{
	background-color: #fdd4d1;
	min-height: 275px;
}

 .demo_card{
	
 }

 .demo_card > .mdl-card__title{
 	color: #fff;
 	height: 100px;
 	background: url('Casino-Backgrounds.jpg') center / cover;
 }

  .demo_card > .mdl-card--border{
 	color: #fff;
 	background: url('Casino-Backgrounds.jpg') center / cover;
 }   

  .demo_card > .mdl-card__menu{
 	color: #fff;
 } 