/* definir cor da célula do grid e o tamanho */
.mdl-cell{
	background-color: #f44336;
	min-height: 280px;
	padding: 10px;
}

.mdl-grid{
	
}

.backgroud-claro{
	background-color: #fed4d1;
	min-height: 100px;
	padding: 10px;
}

/*  media para deixar os cards em linha quando em telas maiores */
@media (min-width: 740px) 
{
  .demo_card{
	display: inline-flex!important;
 }
 }
/* media deixar os cards e cabendo no quadro em telas menores */
@media (max-width: 410px){
	.mdl-card{
		width: 95%!important;
	}
}




/* ajustes dos badges q estão ruins */
 .badge_mod.mdl-badge[data-badge]:after{
 	top: 8px;
    right: 2px;
 }

 /* mudando cor do material icon do header */
 .headericon{
 	color: #fdd4d1;
 	text-decoration: none;
 }

 /*tamanho das fontes*/
 .md-18{font-size: 18px!important;}
 .md-24{font-size: 24px!important;}
 .md-36{font-size: 36px!important;}
 .md-48{font-size: 48px!important;}
 /*cor das fontes*/
 .laranja{color: #fb8c00}
 .verde{color: #a4c639}

 /* propriedades do card */
 .cell_card{
 	min-height: 380px;
 }


 

 .demo_card > .mdl-card__title{
 	color: #fff;
 	height: 100px;
 	background: url('Casino-Backgrounds.jpg') center / cover;
 }

  .demo_card > .mdl-card--border{
 	color: #fff;
 	background: url('Casino-Backgrounds.jpg') center / cover;
 }   

  .demo_card > .mdl-card__menu{
 	color: #fff;
 } 

 /* card menu */
 .container-menu{
 	position: relative;
	width: 200px;
 	display: inline-block;
 	margin: 5px;
 	vertical-align: top;
 }

 .background-menu{
 	background: #fff;
 	height: 148px;
 	width: 100%;
 }

 .bar-menu-right, .bar-menu-left{
 	box-sizing: border-box;
 	background: #ee4636;
 	color: #fff;
 	width: 100%;
 	padding: 16px;
 }

 .bar-menu-right{
 		text-align: right;
 }

 .bar-menu-left{
 		text-align: left;
 }

 .listatst{
 	background: #ff6858;
 }

 .listatst a{
 	text-decoration: none;
 }

.itemtst:hover {
    background-color: #ff0000!important;
}

/*cor do drawer */
.drawerclass{
	background-color: #fed4d1!important; 
}





